<!DOCTYPE html>
<html>
<head>
  <title>chitchan</title>
  <!-- Google Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS -->
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='materialize/css/materialize.min.css') }}" media="screen,projection"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body class="container">

  <!-- JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="{{ url_for('static', filename='materialize/js/materialize.min.js') }}"></script>

  <h3 class="center-align">chitchan</h3>
  <ul class="collection">
    {% for board in boards %}
    <li class="collection-item">
      <li><a href="/{{board[1]}}">{{board[1]}} - {{board[2]}}</a></li>
    </li>
    {% endfor %}
  </ul>

</body>
</html>
